@page ""
@model BA.KonnexResources.Pages.AboutModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
    ViewData["Title"] = "About";
}

<div class="container-fluid py-200">
    <div class="container services">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-4">About Us</h1>
                <h3 class="pb-3" style="color:black;">
                    Awaiting Content
                </h3>
                <h2 class="blank-red-btn">Awaiting Content</h2>
                <p class="text-lg py-4 pl-70 text-darkblue" data-aos="fade-up" data-aos-duration="2000">
                    Awaiting Content
                </p>
            </div>
        </div>
    </div>
</div>