@page
@model BA.KonnexResources.Pages.careerModel
@{
}


<div class="container-fluid inner-header">
    <div class="container custom-container">
        <div class="row flex-center calc-right">
            <div class="col-lg-6">
                <h1 class="mb-0 text-white" data-aos="fade-up" data-aos-duration="2000">Career</h1>
                <p class="text-md text-white mt-4" data-aos="fade-up" data-aos-duration="2000">Providing awareness of Phoenix Coppers environmental and economic goals for the community at large</p>
            </div>
            <div class="col-lg-6 p-0">
                <img class="img-fluid w-100" src="images/career-banner.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-60 pb-100 career-whistle pr">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-12">
                <div class="process">
                    <h5>01</h5>
                    <h3>140 Full </br>Time Jobs</h3>
                    <p class="text-darkblue text-md">We will provide c. 140 full time, well-paid jobs. We will advertise in Mackay first, then Custer County, then at a State level before widening our search to Western USA</p>
                </div>
                <div class="process">
                    <h5>02</h5>
                    <h3>10 year</br>Payroll</h3>
                    <p class="text-darkblue text-md">Payroll over a 10 year period is expected to amount to c. $105m</p>
                </div>
                <div class="process">
                    <h5>03</h5>
                    <h3>Stable</br>Workforce</h3>
                    <p class="text-darkblue text-md">All employees will be background checked and will undergo drug testing. We wish to attract family-oriented employees, resulting in a more stable workforce</p>
                </div>
                <div class="process">
                    <h5>04</h5>
                    <h3>Local People</br>Preferred</h3>
                    <p class="text-darkblue text-md">Preference will be given to local suppliers and contractors for capital and operating items</p>
                </div>
                <div class="process">
                    <h5>05</h5>
                    <h3>Multiple</br>Jobs</h3>
                    <p class="text-darkblue text-md">
                        For every job created at the mine, two more are likely to be created in leisure, hospitality, retail, personal services, healthcare and other
                        supporting industries.
                    </p>
                </div>
                <div class="process">
                    <h5>06</h5>
                    <h3>Higher</br>Employment</h3>
                    <p class="text-darkblue text-md">An increase in population will result in higher employment and property taxes, some of which will be funnelled to the City and the County.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer-cta p-0">
    <div class="container py-80">
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-md text-white mb-5 text-center">Register For Updates</h3>
                <form>
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <input type="text" class="form-control" placeholder="Full Name" name="Full Name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="col-md-4 p-0">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </form>

                <p class="text-white text-sm text-center mb-0 mt-4">Or share your feedback at +1 123-456-890.</p>
                <p class="text-white text-sm text-center mb-0">We’d be happy to listen</p>


            </div>
        </div>
    </div>
</div>
