@page ""
@model BA.KonnexResources.Pages.ContactModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Contact";
}

<div class="container-fluid py-200">
    <div class="container services">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-4">Contact Us</h1>

                <h3 class="pb-3" style="color:black;">
                    General Inquiries
                </h3>
                <p class="text-lg py-4">
                    Please contact us using the form below
                </p>
                <p class="text-lg py-4">
                    Contact Form Here
                </p>
            </div>
            <div class="col-md-12">
                <h3 class="pb-3" style="color:black;">
                    Media Contact:
                </h3>
                <p class="text-lg">
                    Brittany Lock<br />
                    (408) 794-8033<br />
                    Brittany Lock@pgmining.com
                </p>
            </div>
        </div>
    </div>
</div>
