@page "ESG"
@model BA.KonnexResources.Pages.ESGModel
@{
    ViewData["Title"] = "ESG";
}
<div class="container-fluid home-wrapper pb-100">
    <div class="container custom-container">
        <div class="row flex-center calc-right">
            <div class="col-lg-5">
                <h1 class="mb-0" data-aos="fade-up" data-aos-duration="2000">Lenie Wilkie</h1>
                <h2 class="mb-3" data-aos="fade-up" data-aos-duration="2000">ESG Coordinator, Mackay resident</h2>
                <p class="text-md mb-5" data-aos="fade-up" data-aos-duration="2000">“A responsible mining operation has
                    the potential to bring sustainable economic benefits to Mackay. I would love to see local businesses
                    thriving and my kids and their classmates with more opportunities to make high-paying wages in town.
                    I’ve found the leadership at Konnex Resources to be great partners for creating these opportunities
                    while placing the highest importance on protecting the area’s lands, waters, and wildlife.”</p>
                <a class="red-btn" href="#" data-aos="fade-up" data-aos-duration="2000">Have your say</a>
            </div>
            <div class="col-lg-7 p-0">
                <img class="img-fluid w-100" src="/images/lenie-wilkie.jpeg" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-100">
                @* <h3 class="head-sm" data-aos="fade-up" data-aos-duration="2000">Focused on working with regulators,
                    consultants, and the people of Central Idaho to responsibly advance the Empire Mine Project. </h3> *@
                <p class="text-lg pl-60 text-darkblue" data-aos="fade-up" data-aos-duration="2000">
                    We are committed to being a leader in modern mining practices by making environmental stewardship,
                    social responsibility, and transparent governance (ESG) the foundation of everything we do. In June
                    2021, we established our ESG & Sustainability Committee. The role of the committee is to ensure the
                    practices of Konnex Resources and its parent company, Phoenix Copper Limited, are meeting and
                    exceeding the laws and regulations put in place to protect the natural resources and communities
                    located in and around its mining operations.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-100 pr team-container mt-60">
    <div class="container">
        <div class="row flex-center calc-left">
            <div class="col-md-7">
                <img data-aos="fade-up" data-aos-duration="2000" class="img-fluid w-100" src="/images/esg.jpeg" />
            </div>
            <div class="col-md-5 px-50">
                <h3 class="head-lg text-white" data-aos="fade-up" data-aos-duration="2000">Environmental Stewardship
                </h3>
                <p class="text-white text-md mt-4" data-aos="fade-up" data-aos-duration="2000">Custer County and Lost
                    River Valley residents have a fierce pride in the outstanding beauty of their surroundings. As the
                    Empire Mine and other exploration projects advance in the area, the Konnex team continues to make
                    environmental stewardship our top priority.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 pb-100">
    <p class="text-lg py-4 pl-70 text-darkblue" data-aos="fade-up" data-aos-duration="2000">In 2017,
        <strong>Konnex</strong> hired an independent environmental engineering company to conduct baseline studies.
        Since then, the company has tracked and studied a variety of elements of the environment including climate and
        air quality, surface and groundwater hydrology, soil characterization, transportation, water use and treatment,
        plant and wildlife, community and infrastructure planning, and much more. This data has helped Konnex understand
        the existing environmental conditions before the start of mining activities and will continue serving as a guide
        for Konnex’s development plans. It will also serve as a benchmark for reclamation at the end of the mine life.
    </p>
</div>
<div width="100%" class="container-fluid" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <h2 class="mb-3 mx-5" data-aos="fade-up" data-aos-duration="2000">Empire Mine Environmental Information –
            information
            based on baseline and socio-economic studies by an independent environmental engineering firm.</h2>
        @* <img class="mb-5" src=" /images/chart1cropped.jpeg" width='100%' data-aos="fade-up" data-aos-duration="2000"
            /> *@
    </div>
    @* <div>
        <ul class="text-lg py-4 pl-70 pr-60 text-darkblue" data-aos="fade-up" data-aos-duration="2000">
        <li><strong>Wildlife & Vegetation:</strong> Our activities are not damaging to local wildlife or plant life
        and will not affect the biodiversity of the area.</li>
        <li><strong>Water:</strong> The mine is a zero-discharge facility meaning water runoff and pollution is not
        a concern. All water will evaporate or be absorbed into the ground. The mines are dry and situated 900
        feet above the water table. However, we will continue to closely monitor water quality during the life
        of the mine.</li>
        <li><strong>Electricity:</strong> Konnex Resources is proposing to use an aerial tramway to move loaded ore
        buckets from the Empire Mine to the processing plant. The tramway would generate more electivity than it
        uses, as the loaded ore buckets descending from the open pit to the processing plant pull the empty
        ones. In addition, there is already power access on the mountain. 70% of Idaho’s power comes from
        renewables, and the goal is to provide 100% clean energy by 2045.</li>
        <li><strong>Noise Pollution:</strong> Our studies show us to be comfortably within acceptable limits. We are
        not permitted to exceed a 10-decible noise threshold beyond one mile of the mine site.</li>
        <li><strong>Light pollution:</strong> We will be required to fit diffusers on the headlamps of trucks.</li>
        </ul>
        </div> *@
    <div class="container-fluid d-flex justify-center justify-between my-5" data-aos="fade-up" data-aos-duration="2000">
        <div class="card card-water">
            <div class="card-body d-flex flex-column align-items-center" data-bs-toggle='modal'
                data-bs-target="#water-card">
                <img src='/images/water-nobg.png' width='160px' />
                <h5 class="card-title text-center mt-3">Water</h5>
                <p class="card-text">The mine is a zero-discharge facility located high above the water table, meaning
                    water runoff and pollution are not concerns.</p>
            </div>
        </div>
        <div class="card card-electricity">
            <div class="card-body d-flex flex-column align-items-center" data-bs-toggle='modal'
                data-bs-target="#electricity-card">
                <img src='/images/electricity-nobg.png' width='160px' />
                <h5 class="card-title text-center mt-3">Electricity</h5>
                <p class="card-text">The Company plans to use the source of power currently on the mountain, which comes
                    predominantly from renewables.</p>
            </div>
        </div>
        <div class="card card-wildlife">
            <div class="card-body d-flex flex-column align-items-center flex-wrap" data-bs-toggle='modal'
                data-bs-target="#wildlife-card">
                <img src='/images/pawprint-nobg.png' width='160px' />
                <h5 class="card-title text-center mt-3" font-size="19px">Wildlife and Vegetation</h5>
                <p class="card-text">Konnex’s activities are not damaging to local wildlife or plant life and will not
                    affect the biodiversity of the area.</p>
            </div>
        </div>
        <div class="card card-noise">
            <div class="card-body d-flex flex-column align-items-center" data-bs-toggle='modal'
                data-bs-target="#noise-card">
                <img src='/images/noise-nobg.png' width='160px' />
                <h5 class="card-title text-center mt-3">Pollution</h5>
                <p class="card-text">Regulators have strict rules around noise, light and dust pollution. Konnex will be
                    required to prove it will eliminate any impact of the pollutants.</p>
            </div>
        </div>
    </div>
</div>
<div class='mt-5' width='100%' display='flex' align='center'>
    <h2 class="mb-3 mx-5 ms-50" data-aos="fade-up" data-aos-duration="2000">Visual Expectations</h2>
    <p class='text-lg mx-5' data-aos="fade-up" data-aos-duration="2000">Expected view of Empire Mine site from three
        different
        perspectives show very little visual impact as a
        result of
        mine activities. </p>
</div>
