@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid home-wrapper pb-100">
    <div class="container custom-container">
        <div class="row flex-center calc-right">
            <div class="col-lg-5">
                <h1 class="mb-0" data-aos="fade-up" data-aos-duration="2000">Providing Socially Responsible Development in Mackay,</h1>
                <h1 class="mb-3" data-aos="fade-up" data-aos-duration="2000">Idaho</h1>
                <p class="text-md mb-5" data-aos="fade-up" data-aos-duration="2000">Providing awareness of Phoenix Coppers environmental and economic goals for the community at large</p>
                <a class="red-btn" href="#" data-aos="fade-up" data-aos-duration="2000">Have your say</a>
            </div>
            <div class="col-lg-7 p-0">
                <img class="img-fluid w-100" src="images/banner-img.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-100">
                <h3 class="head-sm" data-aos="fade-up" data-aos-duration="2000">At Konnex, sustainability is of such key importance that we established our ESG & Sustainability Committee in June 2021, considerably in advance of our move from exploration to production. </h3>
                <p class="text-lg py-4 pl-70 text-darkblue" data-aos="fade-up" data-aos-duration="2000">Copper and other precious metals are central to the world’s transition to a clean energy future, and PXC is committed to sustainability at every stage of the mining process and to tailoring all corporate practices to the priorities of wider community stakeholders.</p>
                <a class="blank-red-btn" href="#" data-aos="fade-up" data-aos-duration="2000">Know Our Corporate Governance</a>
            </div>

            <div id="mixedSlider">
                <div class="MS-content">
                    <div class="item">
                        <div class="imgTitle">
                            <img src="images/employement-img.jpg" alt="" />
                        </div>
                        <h2 class="blogTitle">Employment Generation</h2>
                        <a href="#">Know More</a>
                    </div>
                    <div class="item">
                        <div class="imgTitle">
                            <img src="images/environment-img.jpg" alt="" />
                        </div>
                        <h2 class="blogTitle">Environmental Responsibility</h2>
                        <a href="#">Know More</a>
                    </div>
                    <div class="item">
                        <div class="imgTitle">
                            <img src="images/community-img.jpg" alt="" />
                        </div>
                        <h2 class="blogTitle">Community Involvement</h2>
                        <a href="#">Know More</a>
                    </div>
                    <div class="item">
                        <div class="imgTitle">
                            <img src="images/employement-img.jpg" alt="" />
                        </div>
                        <h2 class="blogTitle">Employment Generation</h2>
                        <a href="#">Know More</a>
                    </div>
                    <div class="item">
                        <div class="imgTitle">
                            <img src="images/environment-img.jpg" alt="" />
                        </div>
                        <h2 class="blogTitle">Environmental Responsibility</h2>
                        <a href="#">Know More</a>
                    </div>
                    <div class="item">
                        <div class="imgTitle">
                            <img src="images/community-img.jpg" alt="" />
                        </div>
                        <h2 class="blogTitle">Community Involvement</h2>
                        <a href="#">Know More</a>
                    </div>
                </div>
                <div class="MS-controls">

                    <button class="MS-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container-fluid py-100 pr team-container mt-60">
    <div class="container">
        <div class="row flex-center calc-left">
            <div class="col-md-7">
                <img class="img-fluid w-100" src="images/group-img.jpg" />
            </div>
            <div class="col-md-5 px-100">
                <h3 class="head-lg text-white" data-aos="fade-up" data-aos-duration="2000">We Are <br>Answerable</h3>
                <p class="text-white text-md mt-4" data-aos="fade-up" data-aos-duration="2000">Providing awareness of Phoenix Coppers environmental and economic goals for the community at large</p>
                <a class="red-btn mt-md-4 mb-3" href="#" data-aos="fade-up" data-aos-duration="2000">Ask a question</a>
                <p class="text-white text-sm mt-4 mb-0" data-aos="fade-up" data-aos-duration="2000">Or share your feedback at +1 123-456-890.</p>
                <p class="text-white text-sm mb-0" data-aos="fade-up" data-aos-duration="2000">We’d be happy to listen</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pattern-bg pt-60 overflow--hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 pr-md-4">
                <div class="">
                    <h5 class="head-xs mb-md-5 text-blue">Latest News</h5>
                    <div class="report-data  pt-md-4">
                        <div class="">
                            <h3>12, DEC 2021</h3>
                        </div>
                        <div class="report-text">
                            <p class="text-sm">Red Star Ground Magnetics Survey Expands Potential</p>
                            <a class="red-blank-btn" href="#">Know More</a>
                        </div>
                    </div>
                    <div class="report-data">
                        <div class="">
                            <h3>12, DEC 2021</h3>
                        </div>
                        <div class="report-text">
                            <p class="text-sm">AwardinAg of Contracts for 2021 Drilling Prorammes</p>
                            <a class="red-blank-btn" href="#">Know More</a>
                        </div>
                    </div>
                    <div class="report-data">
                        <div class="">
                            <h3>12, DEC 2021</h3>
                        </div>
                        <div class="report-text">
                            <p class="text-sm">Acquisition of Empire Mine royalty & mining claims</p>
                            <a class="red-blank-btn" href="#">Know More</a>
                        </div>
                    </div>
                    <div class="report-data">
                        <div class="">
                            <h3>12, DEC 2021</h3>
                        </div>
                        <div class="report-text">
                            <p class="text-sm">Red Star Ground Magnetics Survey Expands Potential</p>
                            <a class="red-blank-btn" href="#">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 px-md-5 pt-5 pt-md-5 pt-lg-0">
                <h5 class="head-xs mb-md-5 text-blue">Facebook Feed</h5>
                <img class="img-fluid animated--img" src="images/facebook-feeds.jpg" />

            </div>
        </div>
    </div>
</div>
<div class="container services py-80 pb-100">
    <div class="row">
        <div class="col-md-4 pr">
            <div class="service-img">
                <img class="w-100 animated--img" src="images/explore-img.jpg" />
                <div class="service-content">
                    <h3 class="head-sm text-white mb-4">Explore<br> Careers</h3>
                    <a class="red-blank-btn" href="#">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pr">
            <div class="service-img">
                <img class="w-100 animated--img" src="images/news-img.jpg" />
                <div class="service-content">
                    <h3 class="head-sm text-white mb-4">Latest<br> News</h3>
                    <a class="red-blank-btn" href="#">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pr">
            <div class="service-img">
                <img class="w-100 animated--img" src="images/history-img.jpg" />
                <div class="service-content">
                    <h3 class="head-sm text-white mb-4">Know <br>The History</h3>
                    <a class="red-blank-btn" href="#">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-cta p-0">
    <div class="container py-80">
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-md text-white mb-5 text-center">Register For Updates</h3>
                <form>
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <input type="text" class="form-control" placeholder="Full Name" name="Full Name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="col-md-4 p-0">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </form>

                <p class="text-white text-sm text-center mb-0 mt-4">Or share your feedback at +1 123-456-890.</p>
                <p class="text-white text-sm text-center mb-0">We’d be happy to listen</p>


            </div>
        </div>
    </div>
</div>
