@page
@model IndexModel
@{
    ViewData["Title"] = "Konnex Resources";
}

<div class="container-fluid home-wrapper pb-100">
    <div class="container custom-container">
        <div class="ms-0" data-aos="fade-up" data-aos-duration="2000">
            <img class="img-fluid w-100" src="images/banner-img.jpg" />
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="container">
        <h1 class='mb-4' data-aos="fade-up" data-aos-duration="2000">Who we are</h1>
        <h3 class="mb-0" data-aos="fade-up" data-aos-duration="2000">The Konnex Resources team is focused on working
            with regulators, consultants, and the people of Central Idaho to responsibly advance the Empire Mine
            Project.</h3>
        <p class="text-lg mt-60 py-70 text-darkblue" width="100%" data-aos="fade-up" data-aos-duration="2000">
            Konnex is based in Mackay, Idaho, and is a U.S. operating company of Phoenix Copper Limited. The Konnex team
            shares Phoenix Copper’s commitments to environmental stewardship, social responsibility, and economic
            sustainability. We take great pride in the opportunity to work with all stakeholders to bring the area’s
            rich legacy of mining into the future.
        </p>
        <a class="red-btn mt-5" asp-page="/KonnexResources" data-aos="fade-up" data-aos-duration="2000">Learn More</a>
        <div class="row">
            <div class="container services py-80 pb-100">
                <div class="row">
                    <div class="col-md-4 pr">
                        <div class="service-img">
                            <img class="w-100 animated--img" src="images/employement-img.jpg" />
                            <div class="service-content">
                                <h2 class="head-sm text-white mb-4">Employment Generation</h2>
                                <a class="red-blank-btn" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pr">
                        <div class="service-img">
                            <img class="w-100 animated--img" src="images/environment-img.jpg" />
                            <div class="service-content">
                                <h2 class="head-sm text-white mb-4">Environmental Responsibility</h2>
                                <a class="red-blank-btn" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pr">
                        <div class="service-img">
                            <img class="w-100 animated--img" src="images/community-img.jpg" />
                            <div class="service-content">
                                <h2 class="head-sm text-white mb-4">Community Involvement</h2>
                                <a class="red-blank-btn" href="#">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 pb-100">
    <h1 class="mb-4" data-aos="fade-up" data-aos-duration="2000">What we do</h1>
    <h3 data-aos="fade-up" data-aos-duration="2000">Empire Mine Project </h3>
    <p class="text-lg py-4 pl-70 text-darkblue" data-aos="fade-up" data-aos-duration="2000">Konnex Resources is focused
        on bringing Mackay, Idaho’s proud history of copper, zinc, gold, and silver mining into the future. The
        underground Empire Mine near Mackay was in operation from 1901 to 1942 and helped support a strong economy in
        the town. The Konnex team is proposing to generate similar economic benefits in the area by developing Empire
        into an open pit mine which will providing high-paying jobs to area workers and require the purchase of supplies
        and services from local businesses. Technological advances and environmental protection laws enable our team to
        develop a sustainable project that can help meeting the growing needs of green energy.
    </p>
    <a class="blank-red-btn" asp-page="/Project" data-aos="fade-up" data-aos-duration="2000">Learn More</a>
</div>
</div>
<div class="metals-bg">
    <div class="metals-box">
        <h1 data-aos="fade-up" data-aos-duration="2000">Why it matters</h1>
        <h3 data-aos="fade-up" data-aos-duration="2000">More than Minerals</h3>
        <p class="text-lg py-4 pl-70" data-aos="fade-up" data-aos-duration="2000">Copper and other metals are central to
            the world’s transition to a clean energy future. Governments around the world are taking action to move away
            from fossil fuels and accelerate the use of renewable energy technologies. Responsible mining companies like
            Konnex Resources are working to help meet the growing demand with operations that are sustainable for both
            the environment and local communities.
        </p>
        <p class="text-lg py-4 pl-70" data-aos="fade-up" data-aos-duration="2000">Konnex Resources is committed to being
            a leader in the industry when it comes to environmental standards, social responsibility, and transparent
            governance (ESG). The goals of the Company’s ESG committee are to identify and implement ways the Company
            can exceed the environmental standards required by law, facilitate opportunities for local residents to have
            their interests represented, encourage transparency between Konnex and surrounding communities, and more.
        </p>
        <a class="blank-red-btn text-white" asp-page="/ESG" data-aos="fade-up" data-aos-duration="2000">Learn More</a>
    </div>
</div>
<div class="container-fluid py-100 pr team-container mt-60">
    <div class="container">
        <div class="row flex-center calc-left">
            <div class="col-md-7">
                <img class="img-fluid w-100" src="images/group-img.jpg" />
            </div>
            <div class="col-md-5 px-50">
                <h1 class="text-white" data-aos="fade-up" data-aos-duration="2000">Get Involved</h1>
                <h3 class="text-white" data-aos="fade-up" data-aos-duration="2000">Join the Konnex Community
                    Advisory Team!</h3>
                <p class="text-white text-md mt-4" data-aos="fade-up" data-aos-duration="2000">The mission of KCAT is to
                    create an enduring model of partnership, transparency, and accountability between Konnex and the
                    local communities. Anyone living within Custer and Butte Counties is welcome to apply for KCAT’s
                    next open position.</p>
                <a class="red-btn mt-md-4 mb-3" href="#" data-aos="fade-up" data-aos-duration="2000">Learn More</a>
            </div>
        </div>
    </div>
</div>

@* <div class="container-fluid pattern-bg pt-60 overflow--hidden">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 col-md-12 pr-md-4">
    <div class="">
    <h5 class="head-xs mb-md-5 text-blue">Latest News</h5>
    <div class="report-data pt-md-4">
    <div class="">
    <h3>12, DEC 2021</h3>
    </div>
    <div class="report-text">
    <p class="text-sm">Red Star Ground Magnetics Survey Expands Potential</p>
    <a class="red-blank-btn" href="#">Know More</a>
    </div>
    </div>
    <div class="report-data">
    <div class="">
    <h3>12, DEC 2021</h3>
    </div>
    <div class="report-text">
    <p class="text-sm">AwardinAg of Contracts for 2021 Drilling Prorammes</p>
    <a class="red-blank-btn" href="#">Know More</a>
    </div>
    </div>
    <div class="report-data">
    <div class="">
    <h3>12, DEC 2021</h3>
    </div>
    <div class="report-text">
    <p class="text-sm">Acquisition of Empire Mine royalty & mining claims</p>
    <a class="red-blank-btn" href="#">Know More</a>
    </div>
    </div>
    <div class="report-data">
    <div class="">
    <h3>12, DEC 2021</h3>
    </div>
    <div class="report-text">
    <p class="text-sm">Red Star Ground Magnetics Survey Expands Potential</p>
    <a class="red-blank-btn" href="#">Know More</a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-5 col-md-12 px-md-5 pt-5 pt-md-5 pt-lg-0">
    <h5 class="head-xs mb-md-5 text-blue">Facebook Feed</h5>
    <img class="img-fluid animated--img" src="images/facebook-feeds.jpg" />

    </div>
    </div>
    </div>
    </div> *@
<div class="container services py-80 pb-100">
    <div class="row">
        <div class="col-md-4 pr">
            <div class="service-img">
                <img class="w-100 animated--img" src="images/explore-img.jpg" />
                <div class="service-content">
                    <h3 class="head-sm text-white mb-4">Explore<br> Careers</h3>
                    <a class="red-blank-btn" href="#">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pr">
            <div class="service-img">
                <img class="w-100 animated--img" src="images/news-img.jpg" />
                <div class="service-content">
                    <h3 class="head-sm text-white mb-4">Latest<br> News</h3>
                    <a class="red-blank-btn" href="#">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pr">
            <div class="service-img">
                <img class="w-100 animated--img" src="images/history-img.jpg" />
                <div class="service-content">
                    <h3 class="head-sm text-white mb-4">Know <br>The History</h3>
                    <a class="red-blank-btn" href="#">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="container-fluid pattern-bg pt-60 overflow--hidden">
    <div class="col-md-12 pb-100">
    <h3 class="head-sm" data-aos="fade-up" data-aos-duration="2000">Frequently Asked Questions</h3>
    <ul>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    How will Konnex Resources access the site?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    How is Konnex Resources protecting the area’s natural resources?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    How will the Empire Mine project affect the area’s trail use?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    What employment opportunities will be made available to the people of Mackay?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    What is Konnex Resources doing now?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    What is the process to mine copper?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    Will you be using cyanide to extract gold?
    </li>
    <li class="text-darkblue text-sm" data-aos="fade-up" data-aos-duration="2000">
    How does the permitting process work?
    </li>
    </ul>
    <a class="blank-red-btn" href="#" data-aos="fade-up" data-aos-duration="2000">Learn More</a>
    </div>
    </div> *@
<div class="container-fluid footer-cta p-0">
    <div class="container py-80">
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-md text-white mb-5 text-center">Connect with Konnex</h3>
                <form>
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <input type="text" class="form-control" placeholder="Full Name" name="Full Name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="col-md-4 p-0">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </form>

                <p class="text-white text-sm text-center mb-0 mt-4">Sign up for our newsletters</p>
                @* <p class="text-white text-sm text-center mb-0">We’d be happy to listen</p> *@
            </div>
        </div>
    </div>
</div>
