@page "konnex_resources"
@model BA.KonnexResources.Pages.KonnexResourcesModel
@{
    ViewData["Title"] = "Konnex Resources";
}
<div class="pb-60">
    <div class="header-container">
        <img src="/images/engineers.jpeg" width='100%' height='700px' data-aos="fade-up" data-aos-duration="2000" />
    </div>

</div>
<p class="text-lg py-4 pl-70 text-darkblue" data-aos="fade-up" data-aos-duration="2000"><strong>Konnex
        Resources</strong> is proud to partner with environmental engineers, regulators, and the people of Custer
    County to bring the area’s rich mining history into the future. Technological advances, environmental protection
    laws, and community engagement enable our team to develop a sustainable operation that can help meet the growing
    need for green energy materials like copper.
</p>
<div class="col-4 my-5 pl-60">
    <h2 data-aos="fade-up" data-aos-duration="2000">Konnex Team</h2>
</div>
<div class="row justify-content-evenly">
    <div class="col-4">
        <p class='fs-5' data-aos="fade-up" data-aos-duration="2000"><strong>Ryan McDermott</strong> was born and raised
            in Idaho and
            has over 25 years of experience in base and
            precious metals
            mining. Ryan graduated from Idaho State University with a Bachelor of Sciences degree in Geology and is
            committed to using his extensive background in the industry to create a responsible and sustainable
            operation in Mackay. Before working as Phoenix Copper’s CEO, Ryan was the director of mining operations in
            Idaho and Montana and held general manager positions in the western United States and Alaska.</p>
    </div>
    <div class="col-4">
        <img src="/images/RyanMcDermott.jpeg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
        <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">Ryan McDermott, B.Sc </br> CEO</h3>
    </div>
</div>
<div class="row justify-content-evenly mt-60">
    <div class="col-4">
        <p class='fs-5' data-aos="fade-up" data-aos-duration="2000"><strong>Zach Black</strong> has 18 years of
            experience in the
            base and precious metals mining industry. He was a principal founder of Hard Rock Consulting of Lakewood,
            Colorado where he worked on mining projects worldwide. More recently he was COO of Endomines responsible for
            the Friday Mine, an operating underground gold mine in Idaho. He holds a Bachelor of Science degree in
            Geological Engineering from the University of Nevada, Reno.</p>
    </div>
    <div class="col-4">
        <img src="/images/Zach Black.jpg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
        <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">Zach Black</br>General Manager</h3>
    </div>
</div>
<div class="row justify-content-evenly mt-60">
    <div class="col-4">
        <p class='fs-5' data-aos="fade-up" data-aos-duration="2000"><strong>Lenie Wilkie</strong> is a long-standing
            resident of the Lost River Valley and an integral part of the community. Lenie earned a Bachelor of Science
            degree in Corporate Training from the University of Idaho and uses her skills to advance local economic and
            business development in her hometown. She is committed to protecting and enhancing what makes Mackay a great
            place to live and uses her position to help Konnex create an environmentally and economically sustainable
            operation in Custer County.</p>
    </div>
    <div class="col-4">
        <img src="/images/Lenie Wilkie headshot.jpg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
        <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">Lenie Wilkie</br>ESG Program Lead</h3>
    </div>
</div>
<div class="row justify-content-evenly mt-60">
    <div class="col-4">
        <p class='fs-5' data-aos="fade-up" data-aos-duration="2000"><strong>Brittany Lock</strong> has
            always called Idaho home and is a passionate advocate for a sustainable domestic mining industry. She
            graduated from Boise State University with a bachelor’s degree in communication and uses her background as
            an Emmy award winning journalist to develop informative communication materials, coordinate efforts, and
            encourage positive outcomes. </p>
    </div>
    <div class="col-4">
        <img src="/images/Brittany headshot.jpg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
        <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">Brittany Lock</br>Public Relations Manager
        </h4>
    </div>
</div>
