@page
@model BA.KonnexResources.Pages.KonnexResourcesModel
@{
    Layout = "_layout2";
    ViewData["Title"] = "About Konnex Resources";
}

<div class="container-fluid py-200">
    <div class="container services">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-4">Konnex Team</h1>

                <h3 class="pb-3" style="color:black;">
                    Konnex Resources, a subsidiary of Phoenix Copper Limited, is a development-stage mining company
                    focused on bringing Mackay, Idaho’s rich mining history into the future.
                </h3>
                <h2 class="blank-red-btn">Meet the Konnex Team</h2>
                <p class="text-lg py-4 pl-70">
                    Konnex Resources is led by an
                    experienced management team who prioritizes safety, environmental stewardship, community engagement, and
                    economic growth. Technological advances, environmental protection laws, and community input enable our team to
                    develop a responsible operation that can help meet the growing need for green energy materials like copper.
                </p>


            </div>
        </div>
    </div>
    <div class="container py-100">
        <div class="row">
            <div class="col-lg-6">
                <p class="text-md mb-5">
                    <strong>Ryan McDermott</strong> was born and raised
                    in Idaho and has over 25 years of experience in base and precious metals mining. Ryan graduated from Idaho
                    State University with a Bachelor of Sciences degree in Geology and is committed to using his extensive
                    background in the industry to create a responsible operation in Mackay. Before working as Phoenix Copper’s
                    CEO, Ryan was the director of mining operations in Idaho and Montana and held general manager positions in
                    the western United States and Alaska.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="pb-3" src="/images/RyanMcDermott.jpeg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
                <h4 data-aos="fade-up" data-aos-duration="2000">Ryan McDermott, B.Sc </br> CEO</h4>
            </div>
        </div>
    </div>
    <div class="container py-100">
        <div class="row">
            <div class="col-lg-6">
                <p class="text-md mb-5">
                    <strong>Zach Black</strong> has 18 years of
                    experience in the base and precious metals mining industry. He was a principal founder of Hard Rock
                    Consulting of Lakewood, Colorado where he worked on mining projects worldwide. More recently he was COO of
                    Endomines responsible for the Friday Mine, an operating underground gold mine in Idaho. He holds a Bachelor
                    of Science degree in Geological Engineering from the University of Nevada, Reno
                </p>
            </div>
            <div class="col-lg-6">
                <img class="pb-3" src="/images/Zach Black.jpg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
                <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">Zach Black</br>General Manager</h3>
            </div>
        </div>
    </div>
    <div class="container py-100">
        <div class="row">
            <div class="col-lg-6">
                <p class="text-md mb-5">
                    <strong>Lenie Wilkie</strong>is a long-standing
                    resident of the Lost River Valley and an integral part of the community. Lenie earned a Bachelor of Science
                    degree in Corporate Training from the University of Idaho and uses her skills to advance local economic and
                    business development in her hometown. She is committed to protecting and enhancing what makes Mackay a great
                    place to live and uses her position to help Konnex create the most environmentally and economically
                    sustainable operation possible in Custer County.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="pb-4" src="/images/Lenie Wilkie headshot.jpg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
                <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">Lenie Wilkie</br>ESG Program Lead</h3>
            </div>
        </div>
    </div>
    <div class="container py-100">
        <div class="row">
            <div class="col-lg-6">
                <p class="text-md mb-5">
                    <strong>Brittany Lock</strong>has always called
                    Idaho home and is a passionate advocate for the benefits of a robust and responsible domestic mining
                    industry. She graduated from Boise State University with a bachelor’s degree in communication and uses her
                    background as an Emmy award winning journalist to develop informative communication materials, coordinate
                    efforts, and encourage positive outcomes.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="pb-4" src="/images/Brittany headshot.jpg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
                <h4 width="100%" data-aos="fade-up" data-aos-duration="2000">
                    Brittany Lock</br>Public Relations Manager
                </h4>
            </div>
        </div>
    </div>
</div>
