@page "konnex_resources"
@model BA.KonnexResources.Pages.KonnexResourcesModel
@{
    ViewData["Title"] = "Konnex Resources";
}
<div class=" home-wrapper pb-60">
    <div class="pr-60">
        <img src="/images/engineers.jpeg" width="100%" data-aos="fade-up" data-aos-duration="2000" />
    </div>

</div>
<p class="text-lg py-4 pl-70 text-darkblue" data-aos="fade-up" data-aos-duration="2000"><strong>Konnex
        Resources</strong> is proud to partner with environmental engineers, regulators, and the people of Custer
    County to bring the area’s rich mining history into the future. Technological advances, environmental protection
    laws, and community engagement enable our team to develop a sustainable operation that can help meet the growing
    need for green energy materials like copper.
</p>
