@page
@model BA.KonnexResources.Pages.operationsModel
@{
}



<div class="container-fluid inner-header">
    <div class="container custom-container">
        <div class="row flex-center calc-right">
            <div class="col-lg-6">
                <h1 class="mb-0 text-white" data-aos="fade-up" data-aos-duration="2000">Operations</h1>
                <p class="text-md text-white mt-4" data-aos="fade-up" data-aos-duration="2000">Providing awareness of Phoenix Coppers environmental and economic goals for the community at large</p>
            </div>
            <div class="col-lg-6 p-0">
                <img class="img-fluid w-100" src="images/konnex-operation-banner.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container pt-100 pb-60">
    <div class="row">
        <div class="col-md-12">
            <h4 class="head-xs text-darkblue mb-4 fw-600" data-aos="fade-up" data-aos-duration="2000">Our Flagship Project: Empire Mine</h4>
            <h3 class="head-sm fw-400 text-darkblue" data-aos="fade-up" data-aos-duration="2000">Acquired in 2017, Empire is a copper open pit 3100 feet long and 900 feet wide, with a depth of c. 350 feet. It is situated c. 4 miles from Mackay, 900 feet above the water table </h3>
        </div>
    </div>
</div>
<div class="container-fluid py-60 pr">
    <div class="container-fluid pb-60 pr">
        <div class="container operations">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid " src="images/empire-mine-img.jpg" />
                </div>
                <div class="col-md-6 p-0">
                    <div class="community-content">
                        <h3 class="head-sm fw-400 mt-3" data-aos="fade-up" data-aos-duration="2000">The Empire Mine</h3>
                        <ul class="mt-5" data-aos="fade-up" data-aos-duration="2000">
                            <li>We anticipate that Empire will generate gross revenue of $784m over a 10-year period, producing 7000 metric tons of finished copper cathode a year.</li>
                            <li>Operating costs are expected to be c. $500m over this period, not including payroll, which is expected to be c. $105m.</li>
                            <li>There is gold in Empire’s ore body, but not enough to make it economic to mine. </li>
                            <li>Empire is a brownfield site, as the mine was fully functioning up until the 1940s, and ceased production only because of prevailing metal prices at the time. </li>
                            <li>The site is a zero discharge facility, and all water will evaporate or be absorbed into the ground. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-60">
        <div class="row" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-12">
                <h3 class="head-sm fw-700 text-darkblue text-center" data-aos="fade-up" data-aos-duration="2000">The Process of Copper Mining</h3>
                <div class="process">
                    <h5>01</h5>
                    <h3>Extraction</h3>
                    <p class="text-darkblue text-md">Copper comes from ore, which has to be separated from waste rock. We use explosives to get to the ore, which lies between uneconomic granite and limestone. </p>
                </div>
                <div class="process">
                    <h5>02</h5>
                    <h3>Mining</h3>
                    <p class="text-darkblue text-md">Annually, we will mine close to 2.2m tons of ore a year, resulting in an equal weight of waste rock, which has to be moved and set aside to get to the ore.</p>
                </div>
                <div class="process">
                    <h5>03</h5>
                    <h3>Crushing</h3>
                    <p class="text-darkblue text-md">The ore is crushed to ¾” or smaller, and is transported to the leach pads, which are not visible from the town. </p>
                </div>
                <div class="process">
                    <h5>04</h5>
                    <h3>Transportation</h3>
                    <p class="text-darkblue text-md">The ore is crushed to ¾” or smaller, and is transported to the leach pads, which are not visible from the town. </p>
                </div>
                <div class="process">
                    <h5>05</h5>
                    <h3>Leach </br>Pads</h3>
                    <p class="text-darkblue text-md">Once the crushed ore is taken to the leach pads, it is stacked onto the pads and dilute sulphuric acid solution is applied to it via drip lines. Sulphuric acid will be kept in tanks, in a tank farm which will have 1.5x containment of the maximum size of tank. The tanks are heavy-duty engineered structures, reinforced with concrete and steel. The tank farm, like everything else on the mine site will be properly fenced.  </p>
                </div>
                <div class="process">
                    <h5>06</h5>
                    <h3>The </br>Process</h3>
                    <p class="text-darkblue text-md">The dilute sulphuric acid solution percolates down through the leach pad and picks up copper as it does so. The copper is collected on a synthetic liner at the bottom of the leach pad and directed into a SX-EW (solvent extraction and electrowinning) cell. The copper is then extracted from the solution. The solution is recycled: it is pumped back onto the leach pad, making this a zero-discharge facility: the heap leach design ensures there will be no discharge of any kind. The synthetic liner is designed to extremely tight specifications, with a state-of-the-art leak detection system in place, and sits on a bed of clay. This prevents sulphuric acid from escaping and contaminating groundwater. The sulphuric acid solution contains the copper that we wish to extract, and any leakage would result in lost revenue.</p>
                </div>
                <div class="process">
                    <h5>07</h5>
                    <h3>The </br>Product</h3>
                    <p class="text-darkblue text-md">The finished product, the copper cathodes, are half an inch thick and are roughly the size of a standard pallet.  They are transported on a tractor/truck flatbed.</p>
                </div>
                <div class="process">
                    <h5>08</h5>
                    <h3>The </br>Waste</h3>
                    <p class="text-darkblue text-md">Empire Mine will require no tailing waste facility</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container operations py-100 mt-60">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid " src="images/truck-tram-img.jpg" />
            </div>
            <div class="col-md-6 p-0">
                <div class="community-content">
                    <h3 class="head-sm fw-400 mt-3" data-aos="fade-up" data-aos-duration="2000">Trucks Vs Trams</h3>
                    <p class="text-md mt-4" data-aos="fade-up" data-aos-duration="2000">
                        We have two options on ore transportation: we can use trucks, or we can build a tram. Building a tram will be
                        preferable for a host of environmental reasons
                    </p>
                    <ul class="mt-4" data-aos="fade-up" data-aos-duration="2000">
                        <li>The tram will be gravity operated and electricity generating</li>
                        <li>
                            We will require less water for dust suppression<br>
                            We will significantly reduce our carbon footprint as
                            emissions will be significantly reduced and we will not be burning fuel
                        </li>
                    </ul>
                    <p class="text-md mt-4" data-aos="fade-up" data-aos-duration="2000">A tram will also significantly reduce our operating costs over the life of the mine:</p>
                    <ul class="mt-4" data-aos="fade-up" data-aos-duration="2000">
                        <li>Reduced employee head count</li>
                        <li>Fuel savings</li>
                        <li>No need for truck hire, purchase or maintenance </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid footer-cta p-0">
    <div class="container py-80">
        <div class="row">
            <div class="col-md-12">
                <h3 class="head-md text-white mb-5 text-center">Register For Updates</h3>
                <form>
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <input type="text" class="form-control" placeholder="Full Name" name="Full Name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="col-md-4 p-0">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </form>

                <p class="text-white text-sm text-center mb-0 mt-4">Or share your feedback at +1 123-456-890.</p>
                <p class="text-white text-sm text-center mb-0">We’d be happy to listen</p>


            </div>
        </div>
    </div>
</div>
