@page
@model BA.KonnexResources.Pages.ProjectModel
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Project";
}

<div class="container-fluid py-200">
    <div class="container services mb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-4">The Empire Mine</h1>

                <h3 class="pb-3" style="color:black;">
                    Konnex Resources is proud to partner with environmental engineers, regulators, and the people of Custer County to bring the historic Empire Mine back into production.
                </h3>
                <h2 class="blank-red-btn">The Project</h2>
                <ul>
                    <li class="text-md py-4 pl-4">
                        The past-producing copper, zinc, gold, and silver mine is located near Mackay, Idaho-- an area with a rich history in mining and exploration. The Empire underground mine was in operation between 1901 to 1942.
                    </li>
                    <li class="text-md py-4 pl-4">
                        Konnex is currently in the Feasibility Study stage to turn the brownfield site, located mostly on private land, into an oxide open pit mine to produce copper cathode, gold, silver, and zinc. We intend to build a responsible, low-carbon footprint operation to help support the growing need for the raw materials necessary to achieve the world’s clean energy goals.
                    </li>
                    <li class="text-md py-4 pl-4">
                        The process of extracting the materials will not include cyanides. Instead, we are proposing to use highly diluted sulfuric acid to retrieve copper and ammonium thiosulphate to retrieve gold. (note: need to add which process retrieves the other ore) These options are more environmentally friendly than cyanide and have proven to be more effective. In addition, the Project is situated on more than 2,000 feet of limestone above the nearest water source. This limestone acts like a natural basin that does not allow acid to pass through. Still, our team of environmental and mining engineers have done extensive research and testing to ensure our plans incorporate proper environmental protections.
                    </li>
                    <li class="text-md py-4 pl-4">
                        Phoenix Copper Limited is the 80% owner of the Empire Mine.
                    </li>
                </ul>
                <a class="red-btn mx-4" href="#" data-aos="fade-up" data-aos-duration="2000">Environmental Stewardship</a>
                <a class="red-btn mx-4" href="#" data-aos="fade-up" data-aos-duration="2000">Exploration Projects</a>
            </div>
        </div>
    </div>
    <div class="container services">
        <div class="row">
            <div class="col-md-12 mt-5 pb-5">
                <a name="Reclamation" />
                <h2 class="blank-red-btn">Reclamation</h2>
                <p class="text-md py-4 pl-70">
                    The Konnex team recognizes the responsibility to ensure that the sites of our operations are rehabilitated at the end of the mine life. When our operations cease, we will seal off tunnels and adits, level out cliffs to ensure the terrain is stable, and plant over the area with native grasses to blend with the surrounding environment. In addition, we are required by law to post a cash reclamation bond before the beginning of mining operations. This amount is yet to be determined, but it will be significant. The reclamation bond will not be redeemable until Konnex has carried out all the necessary rehabilitation work. This ensures that reclamation is properly completed.
                </p>
            </div>
        </div>
    </div>
    <div class="container services">
        <div class="row">
            <div class="col-md-12">
                <a name="faq" />
                <h3 class="pb-3" style="color:black;">
                    Frequently Asked Questions
                </h3>
            </div>
            <div class="accordion accordion-flush" id="accordionFaq">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            How will Konnex Resources access the site?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            The Company’s operating plan proposed Smelter Avenue and Main Street as the primary route to the mine site. These public roads are still viable routes for mine employees to travel to work and for a handful of tractor-trailer rigs to daily bring finished copper and supplies from the mine site to the highway. However, Konnex engineers are currently evaluating possible alternative transportation routes.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How is Konnex Resources protecting the area’s natural resources?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            The Konnex team and an independent engineering company have studied and tracked a wide range of environmental elements to ensure proper protections of the area’s natural resources are included in Konnex’s operating plans. Before mining begins, regulators will conduct an Environmental Impact Statement (EIS) as part of the National Environmental Policy Act (NEPA) to independently verify the protections. Learn more about our environmental protections.
                            </br>
                            <a class="red-btn mt-3" href="#">Environmental Stewarship</a>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            How will the Empire Mine project affect the area’s trail use?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            The roads and trails on the Mine Hill represent less than 1% of the total roads and trails in southern Custer County.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            How will Konnex Resources help manage an increase in local population?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            The Konnex team is working with local municipalities and the community
                            to ensure growth is managed proactively and there is as little disruption as possible to people
                            living in the area. With this collaboration, we expect to welcome newcomers into a community
                            with adequate housing, healthcare, educational, emergency and leisure facilities. The mining
                            operation will have its own emergency and fire-fighting capabilities, and we are working with
                            community leaders to ensure proper emergency and law enforcement services are available to keep
                            up with population growth.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            What is Konnex Resources doing now?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            We are currently working on our feasibility study, which is crucial to achieving our goal of financing the mine without major dilutions. At the same time, we are engaged in final technical work around the project and are moving forward with the permitting process. We do not expect any inconsistencies here and assume that the process will proceed as usual. We respect the work of the authorities and look forward to receiving the results as soon as they are available.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            Will you be using cyanide?
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            We do not use cyanides; instead, we use sulfuric acid. In our process, the sulfuric acid is highly diluted. As the sulfuric acid drips through the rock, it dissolves copper and flushes it along. This copper-containing solution generates our sales. For this reason, we make every effort to bring 100% of this solution back to the surface. Thanks to the conditions on the ground, we succeed in doing so. The extremely positive side effect for us is that the impact on the environment is as low as possible.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>